<div>
  <div class="container relative m-auto">
    <h3 class="p-5 text-xl font-bold lg:text-2xl">Ultimas Noticias</h3>
    <div class="lg:grid lg:grid-cols-[1fr_500px]">
      <div class="flex flex-col gap-3 lg:grid lg:grid-cols-2 lg:content-start">
        <div class="relative lg:h-fit">
          <img
            class="w-full object-cover lg:h-[350px]"
            src="/images/lastedNews/pfc8ryokuVLZw4rNCWv3AS-480-80.jpg.webp"
            alt="lasted new: The Lord of the Rings"
          />
          <p
            class="absolute bottom-0 z-10 w-full p-5 before:absolute before:bottom-0 before:left-0 before:-z-10 before:h-full before:w-full before:bg-[rgba(0,0,0,0.5)] after:absolute after:left-2 after:top-5 after:h-[calc(100%-40px)] after:w-1 after:bg-blue-700 lg:before:min-h-[108px]"
          >
            Daedalic Entertainment se disculpó por el estado de su nuevo juego
            Gollum y prometió arreglarlo.
          </p>
        </div>
        <div class="relative lg:h-fit">
          <img
            class="w-full object-cover lg:h-[350px]"
            src="/public/images/lastedNews/Sgj5B82FWLJtNK5KdmGtkP-650-80.jpg.webp"
            alt="lasted new: The Lord of the Rings"
          />
          <p
            class="absolute bottom-0 z-10 w-full p-5 before:absolute before:bottom-0 before:left-0 before:-z-10 before:h-full before:w-full before:bg-[rgba(0,0,0,0.5)] after:absolute after:left-2 after:top-5 after:h-[calc(100%-40px)] after:w-1 after:bg-blue-700 lg:before:min-h-[108px]"
          >
            Diablo 4 En Revisión: La transición al servicio en vivo entierra lo
            que lo hace genial.
          </p>
        </div>
        <div class="relative lg:h-fit">
          <img
            class="w-full object-cover lg:h-[350px]"
            src="/public/images/lastedNews/XnEg67PVCCiTbNaTdSx9x3-650-80.jpg.webp"
            alt="lasted new: The Lord of the Rings"
          />
          <p
            class="absolute bottom-0 z-10 w-full p-5 before:absolute before:bottom-0 before:left-0 before:-z-10 before:h-full before:w-full before:bg-[rgba(0,0,0,0.5)] after:absolute after:left-2 after:top-5 after:h-[calc(100%-40px)] after:w-1 after:bg-blue-700 lg:before:min-h-[108px]"
          >
            Overwatch 2 tendrá un evento Pride por primera vez.
          </p>
        </div>
        <div class="relative lg:h-fit">
          <img
            class="w-full object-cover lg:h-[350px]"
            src="/public/images/lastedNews/nownews7.jpeg"
            alt="lasted new: The Lord of the Rings"
          />
          <p
            class="absolute bottom-0 z-10 w-full p-5 before:absolute before:bottom-0 before:left-0 before:-z-10 before:h-full before:w-full before:bg-[rgba(0,0,0,0.5)] after:absolute after:left-2 after:top-5 after:h-[calc(100%-40px)] after:w-1 after:bg-blue-700 lg:before:min-h-[108px]"
          >
            "He sido fan a muerte de Apple desde 1994". Nadie lo esperaba, pero
            Kojima será el gran capitán de una nueva era de 'gaming' en Mac.
          </p>
        </div>
        <div class="relative lg:col-span-2 lg:h-fit">
          <img
            class="w-full object-cover lg:h-[350px]"
            src="/public/images/lastedNews/nownews8.jpeg"
            alt="lasted new: The Lord of the Rings"
          />
          <p
            class="absolute bottom-0 z-10 w-full p-5 before:absolute before:bottom-0 before:left-0 before:-z-10 before:h-full before:w-full before:bg-[rgba(0,0,0,0.5)] after:absolute after:left-2 after:top-5 after:h-[calc(100%-40px)] after:w-1 after:bg-blue-700 lg:before:min-h-[108px]"
          >
            El mítico Half-Life tendrá una versión roguelike con la aprobación
            de Valve, y ya puedes jugar a su demo gratis.
          </p>
        </div>
      </div>
      <div
        class="flex flex-col bg-[radial-gradient(rgba(255,255,255,0.219)_1px,transparent_1px)] bg-[length:calc(10*0.5px)_calc(10*0.5px)] py-5"
      >
        <div class="px-5 pb-5">
          <div class="grid grid-cols-[1fr_144px] gap-2 pb-5">
            <div class="flex flex-col justify-between">
              <a href="#"
                ><h3 class="font-bold">
                  "Espero que haya muchas cosas raras". El director de combate
                  de Final Fantasy XVI tiene claro cómo debemos afrontar la
                  acción.
                </h3></a
              >
              <div class="flex w-full justify-between">
                <a href="#">John Doe</a>
                <p>Hace 30 min</p>
              </div>
            </div>
            <a href="#"
              ><img
                class="h-36 w-full object-cover"
                src="/public/images/lastedNews/450_1000.jpeg"
                alt="Final Fantasy XVI tiene claro cómo debemos afrontar la acción"
              /></a
            >
          </div>
          <hr />
        </div>
        <div class="px-5 pb-5">
          <div class="grid grid-cols-[1fr_144px] gap-2 pb-5">
            <div class="flex flex-col justify-between">
              <a href="#"
                ><h3 class="font-bold">
                  PlayStation anuncia los 3 juegos gratis de junio para miembros
                  de PS Plus.
                </h3></a
              >
              <div class="flex w-full justify-between">
                <a href="#">Federich Doe</a>
                <p>Hace 35 min</p>
              </div>
            </div>
            <a href="#"
              ><img
                class="h-36 w-full object-cover"
                src="/public/images/lastedNews/375_375.jpeg"
                alt="Final Fantasy XVI tiene claro cómo debemos afrontar la acción"
              /></a
            >
          </div>
          <hr />
        </div>
        <div class="px-5 pb-5">
          <div class="grid grid-cols-[1fr_144px] gap-2 pb-5">
            <div class="flex flex-col justify-between">
              <a href="#"
                ><h3 class="font-bold">
                  Diablo 4 nunca te lo dice, pero activar estas dos opciones te
                  ayudará a llevar un mayor control de tu equipo.
                </h3></a
              >
              <div class="flex w-full justify-between">
                <a href="#">Melissa Smith</a>
                <p>Hace 45 min</p>
              </div>
            </div>
            <a href="#"
              ><img
                class="h-36 w-full object-cover"
                src="/public/images/lastedNews/nownews3.jpeg"
                alt="Final Fantasy XVI tiene claro cómo debemos afrontar la acción"
              /></a
            >
          </div>
          <hr />
        </div>
        <div class="px-5 pb-5">
          <div class="grid grid-cols-[144px_1fr] gap-2 pb-5">
            <a href="#"
              ><img
                class="h-36 w-full object-cover"
                src="/public/images/lastedNews/nownews4.jpeg"
                alt="Final Fantasy XVI tiene claro cómo debemos afrontar la acción"
              /></a
            >
            <div class="flex flex-col justify-between">
              <a href="#"
                ><h3 class="font-bold">
                  FromSoftware no quiere que su próximo juego se parezca a Elden
                  Ring y lo demostrará con un elemento básico de su diseño.
                </h3></a
              >
              <div class="flex w-full justify-between">
                <a href="#">Juli Menez</a>
                <p>Hace 2 horas</p>
              </div>
            </div>
          </div>
          <hr />
        </div>
        <div class="px-5 pb-5">
          <div class="grid grid-cols-[144px_1fr] gap-2 pb-5">
            <a href="#"
              ><img
                class="h-36 w-full object-cover"
                src="/public/images/lastedNews/nownews5.jpeg"
                alt="Final Fantasy XVI tiene claro cómo debemos afrontar la acción"
              /></a
            >
            <div class="flex flex-col justify-between">
              <a href="#"
                ><h3 class="font-bold">
                  12 años después, Minecraft se actualiza con un bioma muy
                  japonés y una nueva mecánica en su versión 1.20. Así es
                  "Trails & Tales".
                </h3></a
              >
              <div class="flex w-full justify-between">
                <a href="#">David Menez</a>
                <p>Hace 4 horas</p>
              </div>
            </div>
          </div>
          <hr />
        </div>
        <div class="px-5 pb-5">
          <div class="grid grid-cols-[144px_1fr] gap-2 pb-5">
            <a href="#"
              ><img
                class="h-36 w-full object-cover"
                src="/public/images/lastedNews/nownews6.webp"
                alt="Final Fantasy XVI tiene claro cómo debemos afrontar la acción"
              /></a
            >
            <div class="flex flex-col justify-between">
              <a href="#"
                ><h3 class="font-bold">
                  Summer Game Fest 2023: Cuándo es, dónde se puede ver y quién
                  se presenta.
                </h3></a
              >
              <div class="flex w-full justify-between">
                <a href="#">Javier foliz</a>
                <p>Hace 5 horas</p>
              </div>
            </div>
          </div>
          <hr />
        </div>
      </div>
    </div>
  </div>
</div>
